# Retail Data Cleaning Notebook

From `explore.ipynb`, we have identified the following changes that need to be made to our data:

- Remove Invoice Numbers that begin with "C" and "A" (cancellations and bad debt adjustments). 
- Remove all non-standard (####[A-Z]) Stock Codes except for the code "M"
- Remove out NA values for Customer ID column
- Remove any Price values that are equal to 0

## Table of Contents
1. [Load Data](#load-data)
2. [Clean InvoiceNo](#clean-invoiceno)
3. [Clean StockCodes](#clean-stockcodes)
4. [Clean CustomerID](#clean-customerid)
5. [Clean Price](#clean-price)
6. [Export](#export)

## Load data

In [17]:
import pandas as pd
import numpy as np
from scripts.useful_functions import load_data

In [14]:
data = pd.read_excel("../data/online_retail.xlsx")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## Clean InvoiceNo

In [65]:
#Generate list of numbers to remove
numbers_to_remove = []
for number in data["InvoiceNo"].astype(str):
    if "A" in number:
        numbers_to_remove.append(number)
    elif "C" in number:
        numbers_to_remove.append(number)
    else:
        pass
    
numbers_to_remove[0:10], len(numbers_to_remove)

(['C536379',
  'C536383',
  'C536391',
  'C536391',
  'C536391',
  'C536391',
  'C536391',
  'C536391',
  'C536391',
  'C536506'],
 9291)

In [66]:
#Filter for only columns without those numbers
cleaned_df = data.copy()
cleaned_df = cleaned_df[~cleaned_df["InvoiceNo"].isin(numbers_to_remove)]
cleaned_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [67]:
#Check if correct number of codes were removed
data.shape[0] - cleaned_df.shape[0]

9291

## Clean StockCodes

In [68]:
cleaned_df["StockCode"] = cleaned_df["StockCode"].astype(str)
cleaned_df[cleaned_df["StockCode"].str.match("^\\d{5}$")==False] 
cleaned_df = cleaned_df[(cleaned_df["StockCode"].str.match("^\\d{5}$")==True) | \
    (cleaned_df["StockCode"].str.match("^\\d{5}[a-zA-Z]+$")==True) | \
    (cleaned_df["StockCode"].str.match("M"))]

cleaned_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [69]:
data.shape[0]-9291 - cleaned_df.shape[0]

2081

In [70]:
#Double check the above code worked
alt_stock_codes = data[(data["StockCode"].str.match("^\\d{5}$")==False) & (data["StockCode"].str.match("^\\d{5}[a-zA-Z]+$")==False)]["StockCode"].unique()
alt_stock_codes = alt_stock_codes[alt_stock_codes != "M"]

alt_stock_codes, len(alt_stock_codes)

(array(['POST', 'D', 'C2', 'DOT', 'BANK CHARGES', 'S', 'AMAZONFEE',
        'DCGS0076', 'DCGS0003', 'gift_0001_40', 'DCGS0070', 'm',
        'gift_0001_50', 'gift_0001_30', 'gift_0001_20', 'DCGS0055',
        'DCGS0072', 'DCGS0074', 'DCGS0069', 'DCGS0057', 'DCGSSBOY',
        'DCGSSGIRL', 'gift_0001_10', 'PADS', 'DCGS0004', 'DCGS0073',
        'DCGS0071', 'DCGS0068', 'DCGS0067', 'DCGS0066P', 'B', 'CRUK'],
       dtype=object),
 32)

In [71]:
cleaned_df[cleaned_df["StockCode"].isin(alt_stock_codes)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

## Clean CustomerID

In [72]:
cleaned_df = cleaned_df[cleaned_df["CustomerID"].isna()==False]
cleaned_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## Clean Price

In [76]:
cleaned_df = cleaned_df[cleaned_df["UnitPrice"]>0]

In [78]:
cleaned_df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,396621.000000,396621,396621.000000,396621.000000
mean,13.021315,2011-07-10 23:51:27.315649024,2.991685,15301.764849
min,1.000000,2010-12-01 08:26:00,0.040000,12346.000000
25%,2.000000,2011-04-07 11:12:00,1.250000,13975.000000
50%,6.000000,2011-07-31 14:39:00,1.950000,15159.000000
75%,12.000000,2011-10-20 14:41:00,3.750000,16804.000000
max,80995.000000,2011-12-09 12:50:00,4161.060000,18287.000000
std,179.616083,NaN,16.853221,1710.072964

In [79]:
cleaned_df.describe(include='O')

,InvoiceNo,StockCode,Description,Country
count,396621,396621,396621,396621
unique,18466,3660,3872,37
top,576339,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
freq,541,2035,2028,354233

## Export

In [77]:
#Export cleaned dataframe as csv to data folder

cleaned_df.to_csv('../data/clean_retail.csv')